* {
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
    margin: 20px;
    padding: 0;
  }
  
  code {
    font-size: 1.2em;
  }
  
  body {
    font-family: sans-serif;
    margin: 20px;
    padding: 0;
  }

  .game{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  // .game-board{
  //   width: 50%;
  //   height: 50%;
  // }
  .square {
    float: left;
    font-size: 60px;
    font-weight: bold;
    line-height: 100px;
    height: 100px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 100px;
  }
  
  .board-row:after {
    clear: both;
    content: '';
    display: table;
  }
  
  .status {
    margin-bottom: 50px;
    width: 100%;
    font-size: 40px;

  }
  
  .game .button{
    cursor: pointer;
    font-size: 40px;
    position: relative;
    transform: translate(-30px,-170px);
  }
  .game-info {
    margin-left: 50px;
  }
  



.gamesComponent{

  .gamesCardContainer{
    display: flex;
    flex-wrap: wrap;
    padding: 10px 20px;
    &> *{
      padding: 5px; 
      margin: 5px 15px;
      border-radius: 5px;
    }
    .gameCard{
      width: 30%;
      min-width: 100px;
      height: 350px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .img{
        height: 250px;
        text-align: center;
        background-color: #ffffff;
        border-radius: 5px;

        img{
          width: 98%;
          height: auto;
          max-height: 100%;
        }
      }

      .name{
        font-weight: 700;
        letter-spacing: 3px;
        font-size: 18px;
        text-align: center;
      }

      .goToGame{
        text-align: end;
        font-size: 16px;
        padding-right: 5px;
        cursor: pointer;
      }

      .disabled{
        pointer-events: none;
        cursor: not-allowed;
        opacity: 0.5;
        color: #999 !important;
      }
    }
  }
}

.light-mode{

  .status{
    color: #323232;
  }
  .square{
    background: transparent;
    border: 1px solid #434343;
    color: #323232;
  }

  .game .button{
    color: #323232;
  }
  .gamesComponent{
    .gamesCardContainer{
      .gameCard{
        border: 1px solid #434343;
  
        .img{
          border: 1px solid #9f9f9f;
        }
  
        .name{
          color: #222222;
        }
  
        .goToGame{
          color: #222222;
        }
        a{
          text-decoration: none;
          color: #434343;
        }
      }
    }
  }
}

.dark-mode{

  .status{
    color: #9f9f9f;
  }
  .square{
    background: transparent;
    border: 1px solid #999999;
    color: #9f9f9f;
  }

  .game .button{
    color: #9f9f9f;
  }
  .gamesComponent{
    .gamesCardContainer{
      .gameCard{
        border: 1px solid #cccccc;
  
        .img{
          border: 1px solid #323232;
        }
  
        .name{
          color: #cccccc;
        }
  
        .goToGame{
          color: #cccccc;
        }
        a{
          text-decoration: none;
          color: #cccccc;
        }
      }
    }
  }
}

