.header{
    display: flex;
    padding: 3px 5px;
    background-color: #2b2b2b;
    opacity: 1;
    z-index: 10;
    width: 100;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    .headerBtns{
      display: flex;
      flex-grow: 1;
      flex-shrink: 1;
      flex-wrap: wrap;
    }
  }

  .blankSpace{
    height: 30px;
  }
  
  .headerElement {
    color: #eeeeee !important;
    text-decoration: none !important;
    padding-left: 5px;
    padding: 5px 7px;
    transition: 0.5s;
    border-radius: 2px;

     a{
      text-decoration: none;
      color: #eeeeee;
    }
    
    // :hover{
    //   background-color: #737373;
    // }
    
    .active a{
      color: #d49b00;
    }
    
    .logo{
      pointer-events: none !important;
      cursor: not-allowed !important;
      padding: 5px 10px;
    }
  }

  .headerElement:hover{
    background-color: #737373;
  }


  @media (max-width: 575px) {
    .header{
      position: relative;
    }
    .headerBtns {
      flex-direction: column;
      // flex-grow: initial; 
      margin-bottom: 10px;
      text-align: center;
    }

    .blankSpace{
      height: 0px;
    }
  
  }
  // .dark-mode{
  //   .header{
  //       background-color: #eeeeee;
  //   }
  //   .headerElement{
  //       color: #2b2b2b;

  //       a{
  //           color: #2b2b2b;
  //       }
  //   }
  // }
  
  