.blinking-cursor::after{
    content:"_";
    font-weight: 1200;
    animation:blink 1.3s step-start infinite;
}

@keyframes blink {
    50%{
        opacity: 0;
    }    
}
.homepage{
    display: flex;
    width: 100%;
    min-height: calc(100vh - 80px);
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
}

.homepage .content{
    width: 60%;
    min-width: 350px;
    font-size: 14px;
    text-align: center;
    .name{
        font-size: 50px;
        font-weight: 600;
        width:100%;
        text-align: center;
    }

    .line{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 20px;
    }
}

.homepage .photo{
    padding: 10px 25px;
    width: 40%;
    min-width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    .img-w {
        width: 100%;
        height: auto;
    }
    
    /* Section 1 */
    
    .centerImage {
        margin-left: auto;
        width: 80%;
    }   
    .centerImage img {
        border-radius: 50%;
        box-shadow: 0 0 10px #D1D9E6;
    }
    
    /* Section 1 End */
    
    /* Roundin sec */
      .main {
        position: relative;
      }
      .big-circle {
        height: 400px;
        width: 400px;
        position: relative;
        border: 3px solid #bbbbbb;
        border-radius: 50%;
        display: flex;
        display: -webkit-flex;
        align-items: center;
        -webkit-align-items: center;
        justify-content: center;
        -webkit-justify-content: center;
        animation: Rotate 20s linear infinite;
        -webkit-animation: Rotate 20s linear infinite;
      }
      .icon-block {
        width: 64px;
        height: 64px;
        font-size: 40px;
        position: absolute;
        border-radius: 50%;
        display: flex;
        display: -webkit-flex;
        align-items: center;
        -webkit-align-items: center;
        justify-content: center;
        -webkit-justify-content: center;
        background-color: #fff;
        box-shadow: 0 0 10px #fff;
      }
      .icon-block a {
        margin: 0px auto;
        width: 60%;
        animation: Rotate-reverse 20s linear infinite;
        -webkit-animation: Rotate-reverse 20s linear infinite;
    }
    .icon-block:first-child {
        top: 15%;
        left: 9%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
      }
      
      .icon-block:nth-child(2) {
        top: 35%;
        right: -24%;
        transform: translate(-100%, -50%);
        -webkit-transform: translate(-100%, -50%);
      }
      
      .icon-block:nth-child(3) {
        bottom: 7%;
        left: 50%;
        transform: translate(-50%, 100%);
        -webkit-transform: translate(-50%, 100%);
      }

      
    //   .icon-block:nth-child(4) {
    //     top: 50%;
    //     left: 0;
    //     transform: translate(-50%, -50%);
    //     -webkit-transform: translate(-50%, -50%);
    //   }
      .rounding-sec {
        position: relative;
        height: 400px !important;
        width: 400px !important;
      }
      .centerImage {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
      }
      /* keyframe animation */
      
      @keyframes Rotate {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(360deg);
        }
      }
      
      @-webkit-keyframes Rotate {
        from {
          -webkit-transform: rotate(0deg);
        }
        to {
          -webkit-transform: rotate(360deg);
        }
      }
      
      @keyframes Rotate-reverse {
        from {
          transform: rotate(360deg);
        }
        to {
          transform: rotate(0deg);
        }
      }
      
      @-webkit-keyframes Rotate-reverse {
        from {
          -webkit-transform: rotate(360deg);
        }
        to {
          -webkit-transform: rotate(0deg);
        }
      }
}


@media (max-width: 575px) {
    body{
        width: 60vh !important;
    }
    .homepage .content{
        width: 80% !important;
    }

    .homepage .photo{
        width: 80% !important;
        min-width: 300px;
        .rounding-sec{
          width: 250px !important;
          height: 250px !important;
        }

        .big-circle{
          width: 250px !important;
          height: 250px !important;
        }

        .icon-block{
          width: 40px;
          height: 40px;
          font-size: 28px;
        }
    }
    
    .headerBtns {
      flex-direction: column;
      // flex-grow: initial; 
      margin-bottom: 5px;
      text-align: center;
    }

    .blankSpace{
      height: 10px;
    }
  
  }
 
.dark-mode{
    .blinking-cursor::after{
        background-color: var(--text-primary);
    }
    .homepage .content{
        color: var(--text-primary);

        .line{
            color: var(--text-secondary);
        }
    }
    
    .homepage .content .name span{
        color: var(--primary-color);
    }     

    .homepage .photo{
        .centerImage img {
            box-shadow: 0 0 15px var(--primary-color);
        }
          .big-circle {
            border: 3px solid var(--border);
          }
          .icon-block {
            background-color: var(--card-background);
            box-shadow: 0 0 10px var(--primary-color);
            border: 1px solid var(--border);
            a{
                color: var(--primary-color);
            }
          }
        }
          
} 

.light-mode{
    .blinking-cursor::after{
        background-color: var(--text-primary);
    }
    .homepage .content{
        color: var(--text-primary);

        .line{
            color: var(--text-secondary);
        }
    }

    .homepage .content .name span{
        color: var(--primary-color);
    }


    .homepage .photo{
        .centerImage img {
            box-shadow: 0 0 15px var(--primary-color);
        }
          .big-circle {
            border: 3px solid var(--border);
          }
          .icon-block {
            background-color: var(--card-background);
            box-shadow: 0 0 10px var(--shadow);
            border: 1px solid var(--border);
            a{
                color: var(--primary-color);
            }
          }
        }
}